/*
 *
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * 5724-R46
 *
 * (C) COPYRIGHT IBM CORP. 2006,2007
 *
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has been
 * deposited with the U.S. Copyright Office.
 *
 */
 
/*	BEGIN common */
        @import url("maximo.css");
	@import url("extended.css");
	
/*      BEGIN pmscoffcat */

	.hiddentitles .ttitr {
   		display: none;
	}
	.tchiddenheader table {
	    display: none;
	}
	
	.tchiddenheader {
	    min-width:300px;
	    padding-right:10px;   
	    padding-left:10px;  
	    font-size:13;
	}
	
	.tc
	{
	   padding:0px;
	   border-right:0px solid #dedede;
	   padding-left:3px;
	}

	.pmscoffcat_overall_section 
	{
	width:100%;
	background-color:#FFFFFF;
	}
        
	.pmscoffcat_overall_offerings_section 
	{       
	width:100%;
	background-color:#FFFFFF;
	}
	
	table.pmscoffcat_overall_offerings_section td 
	{
	padding: 0px !important;       
	}
        
	.pmscoffcat_banner_section 
	{
	width:100%;
	background-color:#FFFFFF;
	background-image: url(../images/bgBanner_BlueCatalog.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 55px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #396799;
	border-bottom-color: #396799;
	}
        
	.pmscoffcat_table_section 
	{       
	width:100%;
	height:100%;
	}

	.pmscoffcat_cart_section 
	{       
	width:100%;
	background-color:#F2F5F8;
	}

	.pmscoffcat_favorites_section 
	{       
	width:100%;
	background-color:#FFFFFF;
	}

	.pmscoffcat_statictext
	{
	font-size:12px;
	}

	.pmscoffcat_treecontainer
	{
	margin:1px;
	background-color: #F1EEE8;
	font-size:11px;
	overflow:auto;
	scrollbar-track-color:#C4C4C4;
	scrollbar-3dlight-color:#ACACAC;
	scrollbar-darkshadow-color:#999999;
	scrollbar-highlight-color:#E7E7E7;
	scrollbar-shadow-color:#E7E7E7;
	scrollbar-arrow-color:#5C5C5C;
	scrollbar-face-color:#E7E7E7;
	background-repeat: repeat;
	background-position: left top;
	background-image: url(../images/bgtile_tree.gif);
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-top-color: #9C9C9C;
	border-bottom-color: #9C9C9C;
	}

	.pmscoffcat_nodename
	{
	font-family:Arial,Helvetica,sans-serif; 
	font-size:12px;
	text-decoration:none;
	color:black;
	vertical-align:baseline;		
	}
	
	.pmscoffcat_hyperlink 
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #396799;
	}
	
	.pmscoffcat_hyperlink span {
		display: inline;
	}

        
.pmscoffcat_categorysearch_text
{
    /*background:#DFEED9;*/
    background:#E7E6E2;
    padding:0px;
    width: 350px;
    /*
    padding-left:2px;
    padding-right:2px;
    padding-bottom:0px;
    margin-bottom:0px;
    */
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
    margin-top:0px;
    border-style:none;
    cursor:default;
    color:#6A6B79;
    font-size:16px;
    font-family: verdana;
    font-weight:bold;
}

.pmscoffcat_banner_text
{
    color: #FFFFFF; 
    font-family: verdana;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}


.pmscoffcat_searchbycategory_tree
{
    margin:0px;
    /*background-color: #DFEED9;*/
    background-color: #E6E6FA;
    /*background:#E7E6E2;*/
    /*background: #C4ECFF;*/
    color:#003399
    font-size:13px;
    /*font-family: verdana;*/
    overflow:auto;
    scrollbar-track-color:#C4C4C4;
    scrollbar-3dlight-color:#ACACAC;
    scrollbar-darkshadow-color:#999999;
    scrollbar-highlight-color:#E7E7E7;
    scrollbar-shadow-color:#E7E7E7;
    scrollbar-arrow-color:#5C5C5C;
    scrollbar-face-color:#E7E7E7;
    background-repeat: repeat;
    background-position: left top;
    border-style:none;
    width: 350px !important;
    /*
    padding:5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
    border-top-color: #9C9C9C;
    border-bottom-color: #9C9C9C;
    */
}

.pmscoffcat_searchbycategory_tree_node
{
    font-family:verdana
    font-size:13px;
    text-decoration:none;
    color:#003399;
    vertical-align:baseline;
    border-style:solid;
    font-weight:bold;
}


/* new for wizards */

.pmscoffcat_dialog_header, .pmscoffcat_dialog_headerl, .pmscoffcat_dialog_headerr
{

    padding:10px 10px 5px 10px;
    cursor:default;
    /*border-top:3px solid #ffffff;*/
    color:#222222;
    font-size: 28px;
    font-weight:bold;
    font-family: Arial;;
    /* background-image: url(../images/img_bgDialogBanner.png); */
    /* background-color: #000037; */
    font-style: normal;
	/* background-color: #400000;;
	  background-color: #0080ff;
	color: white;
	font-size: 12pt;
	text-transform: capitalize;
	font-weight: bold
	*/ 	
}



.pmscoffcat_section_header_text

{

    font-size:12px;

    font-family:verdana;

    font-weight:bold;

    color:#000000;

    /* vertical-align: middle;;*/

	text-decoration: underline

}

.pmscoffcat_text_node {
    font-family:arial;
    font-size:12px;
    color: #444a5b;
    vertical-align:baseline;;
    
    /* text-decoration:none; */
	/* padding: 2px  */
}

.pmscoffcat_text_node_left {
    font-family:arial;
    font-size:12px;
    color: #444a5b;
    vertical-align:baseline;;
    
    text-align: left;
}

/*.pmscoffcat_text_node_statictext {
    font-family:arial;
    font-size:12px;
    color: #444a5b;
    vertical-align:baseline;;
    
    / fix margin 
    margin-top: 7px; 
	 
}*/

label.pmscoffcat_text_node_label {	
	font-family:arial;
    font-size:12px;   
    color: #444a5b;
    vertical-align:baseline;
    
    /* bold label */
    font-weight: bolder;
}

span.pmscoffcat_text_node_label {	
	font-family:arial;
    font-size:12px;   
    color: #444a5b;
    vertical-align:baseline;
    
    /* bold label */
    font-weight: bolder;
}


input.pmscoffcat_text_node_noborder {
    font-family:arial;
    color: #444a5b;
    vertical-align:baseline;
    
    font-size: 12px;
    
    /* bold value */
    font-weight: bolder;
    
    /* remove border */
	border: medium none;	
	background: none;
	
	margin-top: 5px; 
}

input.pmscoffcat_text_node_noborder_right {
	    font-family:arial;
	    color: #444a5b;
	    vertical-align:baseline;
	    
	    font-size: 12px;
	    
	    /* bold value */
        font-weight: bolder;
	    
	    /* remove border */
		border: medium none;	
		background: none;
		
		/* align text right */
		text-align: right;		 
}
	
input.pmscoffcat_text_node_right {
    font-family:arial;
    color: #444a5b;
    vertical-align:baseline;
    
    font-size: 12px;         
	
	/* hack to align input field right */
	margin-left: 85px;	 
}

input.pmscoffcat_text_node_offering_itemnum {
    font-family:arial;
   	font-size:11px; 
    color: #444a5b;
    vertical-align:baseline;
    
     /* bold value */
     font-weight: bolder;
    
    /* remove border */
	border: medium none;
	background: none;

    /* increase width */
	/* width: 100px !important; */
	
	margin-top: 2px;     	 
}
 
 
.pmscoffcat_text_node_leftborder {
   border-left: 1px solid #DBDBDB;
   background: -moz-linear-gradient(#FFFFFF 15%, #E0EFFF 100%);
   background: -webkit-linear-gradient(top, #FFFFFF 15%, #E0EFFF 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#E0EFFF');
 }
 .pmscoffcat_text_node_bottomborder {
   border-bottom: 1px solid #777777;
 }
 
 .pmscoffcat_text_node_hyperlink_label {
 font-family:arial;
    font-size:12px;   
    color: #444a5b;
    vertical-align:baseline;
    
    /* adjust margin */
    margin-top: 10px;
 }
 
 .pmscoffcat_text_node_hyperlink {
   float: right;
   margin: 0 235px 0 0 !important;
 }
 span.pmscoffcat_textarea_node > iframe {
   border: 1px solid #EEEEEE;
 }
 .pmscoffcat_text_node_img {
  margin-top: 8px !important;
 }
 
 button.pmscoffcat_offering_button > img {
   padding-right: 10px;
 } 
 
 .section  div > button.pb {
    margin-top: 10px;
}

/* used to set button vertical and right aligned in offering dialog */
table.pmscoffcat_vert_buttons tr td.section div {
    display: block;
    text-align: right;
}
/* align buttons on bottom */ 
table.pmscoffcat_text_node_leftborder tr td.section {
    vertical-align: bottom;
}


button.pmscoffcat_offering_button {
	background: transparent;
		background-image: -moz-linear-gradient(#008afb 1px, #085884 100%);
		background-image: -webkit-linear-gradient(top, #008afb 1px, #085884 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#008afb', endColorstr='#085884');
		text-shadow: 1px 1px 1px rgba(0,0,0,.5);
		border: 1px solid #0a4e74;
		border-radius: 3px;
		cursor: pointer;
		padding: 0px 1em 0.1em;
		min-width: 87px;
		margin: 2px;
		height: 28px;	
		vertical-align:middle;
		color: #fff;
		font-size: 1.1em;
		/*font-weight: bold;*/
		font-family: Arial, Helvetica, sans-serif;
}
button.pmscoffcat_offering_button:hover {
	background-image: -moz-linear-gradient(#1a95c5 1px, #206b93 100%);
	background-image: -webkit-linear-gradient(top, #1a95c5 1px, #206b93 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1a95c5', endColorstr='#206b93');
		border-color: #6B8FB3 #6B8FB3 #4C7399;
}


.pmscoffcat_textarea_node
{
    font-family:arial;
    font-size: 12px;
    /* text-decoration:none; */
    color: #444a5b;
    vertical-align:baseline;;
    background-repeat: repeat;
	background-position: left top;		
	background-image: none;	
	padding: 2px;;
	background-repeat: repeat;
	background-color: transparent;
}

.pmscoffcat_textarea_node p 
 { 
 margin-top: 0em;
 margin-bottom: .5em;
 /* line-height: 1em; */
 line-height: normal;
 }
 
.rttextarea_node p { 
        margin-top: 0em;
       margin-bottom: .5em;
       line-height: normal;
}

 .pmscoffcat_textarea_node ol li, .pmscoffcat_textarea_node ul li
 {  
 /* line-height: 1em; */
 line-height: normal;
 }	


.pmscoffcat_table_text_node

{

    font-family:arial;

    font-size:12px;

    /* text-decoration:none; */

    color: #444a5b;

    vertical-align:baseline;;

	padding: 5px

}



.pmscoffcat_section_color

{
   background-color: transparent;
   background-position: left top;
   background-repeat: repeat
}

  

.pmscoffcat_tablabel

{

    font-family:verdana;

    font-size:13px;

    font-weight:bold;

    text-decoration:none;	

    vertical-align:middle;		    

}



.pmscoffcat_border

{     
    /* text-decoration:none; */    

    border-top: 1px solid #dbdbdb;
	border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	padding-left: 4px;
	padding-top: 4px;
	margin-top: 4px;
}

.tooltipShadow
{
    /* background: url(../images/shadow.png);  translucent shadow    */
    z-index: 100011;
}
 
.tooltipContent
{
       left: -6px; top: -6px;        /* how much of the shadow shows */
       /*background-color: #ff0;     yellow background */
       background-color: #f9fdd7;   /* #f5fcc9, #e1dea8; yellow background */
       border: solid black 1px;      /* thin black border */
       padding: 5px;                 /* spacing between text and border */
       font: bold 10pt sans-serif;   /* small bold font */
}

/* hack to fix problem with setting height on <recordimage inside a <tablecol. height attribute is not defined on <tablecol
** Offering images are now 64 px so we want height to match.
 */
div.recordimagediv img {
    height: 64px;
}

 /* New skin, tivoli13 underlines links inside tablecol by setting text-decoration: underline. Turn it off because we don't
 ** want all the offering descriptions in the list of offerings to show underlined.  Also ensure there is space between each
 ** individual offering and that the descriptions are centered vertically in the row.
 */
.pmscoffcat_offerings_tablecol {
  text-decoration: none; 
  height: 100px;
  vertical-align: middle !important;
}
               
/*=====================================
 * OVERRIDE TAGS
 *=====================================*/
	.sccd
	{ 
		background-color:#F5EFD5;
	}

	.scfvd
	{
		background-color: #c0c0c0;
		border:1px solid #D50303;
	}
	
/* START Mike's additions */

.db
	{
		background: transparent;
}
	
.subtabgroupback {	
	background: url("../images/dialog_tabRowBg.png") repeat-x scroll left bottom transparent;
	padding-top: 15px;
	width: 100%;
}	
.dialogb {
		background: transparent;
}
.dsc1
	{
	    padding: 0px;
	    border: 4px solid #4b4b4b;
	    border-collapse: separate; 
	    border-spacing: 1px;
		background: url("../images/bg_dialog.png") repeat-x scroll left top #ffffff;
	    -moz-border-radius: 6px 6px 6px 6px;
		border-radius: 6px 6px 6px 6px;
		-moz-box-shadow: 0 0x 5px 3px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);		
		margin: 0px;
		z-index: 10001;
}
.ml {
        text-align:left;
		background:transparent;
		font-weight:normal;
    	}
		
/* headerbarborder - bg color changed from #FFFFFF to transparent*/
.hbb
	{
		background-color: transparent;
	}

/* END Mike's additions */

/* END overrides */
/* END pmscoffcat */