<div>
<div style="position: relative; width: 0pt; height: 0pt; line-height: 0; border-color: transparent rgb(255, 255, 255) transparent transparent; margin-left: 0px; margin-top: 0px; border-style: solid; float: left; border-width: 15px 15px 15px 2px;"></div>

<div dojoAttachPoint="mainDialog" style="padding:5px;position:relative;float:left;border:1px solid #000;background-color:#fff;min-width:100px;min-height:50px;">
	<div dojoAttachPoint="closeBtn" style="padding:0;margin:0;float:right;width:29px;height:29px;cursor: pointer;text-align:right;position:absolute;background: url(../webclient/javascript/ibm/tivoli/fwm/mxmap/resources/ac16_winClose.png) no-repeat;background-position: 8px 6px;" dojoAttachEvent="onclick:close"></div>	
	<div dojoAttachPoint="content" style="overflow-x:auto;"></div>
	</div>
</div>