<div style="border: 1px solid #E0E0E0; border-bottom:0px">
<table style="width: 99%;height:35px;">
	<tbody>
		<tr>
			<td data-dojo-attach-event="ondijitclick:_enableOrDisableLayer" style="padding: 5px;">
				<div data-dojo-attach-point="activeOrHiddenImage"></div>
			</td>
			<td style="width: 90%;" data-dojo-attach-event="ondijitclick:_enableOrDisableLayer" >
				<div data-dojo-attach-point="layerInfo"></div>
			</td>
			<td data-dojo-attach-event="ondijitclick:_showChildrenLayerWidget" style="padding: 0px 4px 0px 12px; height: 35px;">
				<div data-dojo-attach-point="submenu" style="float:right;"></div>
			</td>
		</tr>
	</tbody>
</table>
</div>