@charset "utf-8";
/*
 * Licensed Materials - Property of IBM
 * "Restricted Materials of IBM"
 * 5724-U18
 * (C) COPYRIGHT IBM CORP. 2010 All Rights Reserved.
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 */
body {
	direction: rtl;
	text-align: right;
}
.input_pad {
	padding-right: 10px;
	padding-left: inherit;
}
.messageIcon {
	float: right;
	padding-left: 10px;
	padding-right: 0px;
}