<div class="createcatalogrequest">
<!--
 @HTML_LONG_COPYRIGHT_BEGIN@
 @HTML_LONG_COPYRIGHT_END@
-->
	<!-- Generic fall-back form, dynamically generated if we don't have a hand-crafted one  -->
	<div class="banner">
 		<div class="icon"><img src='${requestDetails.ImagePath}'  alt=""></div> 
		<div class="description">${description}</div>
		<div class="clear"></div>
	</div>
	<div class="content_wrapper">
		<form id="${id}_input_form">
			<!--  put common, hidden fields not generated elsewhere here  -->
			<div dojoAttachPoint="form_container">
			</div>
		</form>
	</div>
 </div>

