/META-INF/
/chartproperties.xml
/com/
/component-registry.xml
/component-registry.xsd
/components.xsd
/control-registry.xml
/control-registry.xsd
/doclink.properties
/domainchecker/
/everyplace.xml
/field-size-config.xml
/iloglicense/
/invalidAttachmentFilename.properties
/ldapgroup.dtd
/ldapuser.dtd
/map-symbology-config.json
/map-symbology-config.json-20120713-1120
/maximo.properties
/maximo.properties.ORI
/pmrel_swdist_simulation.xml
/pmrel_swdist_simulationschema.xsd
/presentation.xsd
/product/
/psdi/
/registry-extensions/
/sccd/
/systemlib.xsd
/ui-schema-generator.cmd
/ui-schema-generator.xml
