<div  style="width:100%;margin-bottom:10px;">
<div data-dojo-attach-point="distanceNode" style="text-align: center;width: 100%;"></div>
<div data-dojo-attach-point="stepsNode"></div>
<div data-dojo-attach-event="ondijitclick:_onClick" data-dojo-attach-point="legInfo" style="background-color: #FAFAFA;border: 1px solid #E0E0E0;margin: 1px;padding: 10px 2px;">
<span data-dojo-attach-point="markerNode" style="float:left;margin-top:-10px"></span>
<span data-dojo-attach-point="endLocDescNode"></span>
</div>
</div>