<tr role="row" style="display: ;" dojoAttachPoint="row">
	<th>
		<img src="../webclient/skins/tivoli09/images/blank.gif" style="display: none" class="tablerow_blank_icon" title="" alt="">
	</th>
	<td role="gridcell" control="true" dojoAttachPoint="clickable" onmouseover="appendClass(this.parentNode,'trh')" onmouseout="removeClass(this.parentNode,'trh')" style="padding-left: 5px;" class="tc hl cursor_hand">
		<table role="presentation" style="display: inline;">
			<tbody>
				<tr>
					<td nowrap="nowrap" valign="top" style="vertical-align: top;">
						<table role="presentation" control="true" cellpadding="0" cellspacing="0" width="100%" class=" " summary="" style="width: 100%; vertical-align: top">
							<tbody>
								<tr control="true" style="vertical-align: top;">
									<td nowrap="nowrap" align="left" valign="top" style="vertical-align: top;">
										<div aria-live="polite" class="bc">
											<span ctype="label" tabindex="0" 
											class="text txtplain  label  " 
											style="cursor: pointer;"
											title="">
												<div dojoAttachPoint="content"></div>
											</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>